.pickOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pickOption {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    transition: background-color .25s;
    cursor: not-allowed;

    &.correctPick {
      box-shadow: 0px 0px 17px 5px rgba(45,255,196,0.9);
    }
  }
}

.table.currentPlayer {
  background-color: lightgrey;
}

.table.active.currentPlayer {
  .pickOptions {
    .pickOption {
      cursor: pointer;
      &:hover {
        border-color: red;
      }
    }
  }
}

.tablePlayer {
  text-align: center;
}
