#tables {
  display: flex;
  gap: 50px;

  .table {
    width: 500px;
    min-width: 500px;
  }
}
#numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    transition: background-color .25s;
  }
}

.table.playable {
  background-color: lightgrey;
  #numbers {

    button {
      cursor: pointer;

      &:hover {
        border-color: red;
      }
    }
  }
}
